body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
}

/* Buttons */
#breakdownbtn {
  background:blue;
  color:white;
  border: 2px solid gray;
  padding: 0.5rem 1rem;
  font-family: 'Arial', Courier, monospace;
  font-size: 1rem;
}


#calmbtn {
  background:blue;
  color:white;
  border: 2px solid gray;
  padding: 0.5rem 1rem;
  font-family: 'Arial', Courier, monospace;
  font-size: 1rem;
}